*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #10784f;
    /*background-image: url('../img/fundoo.png');*/
    background-size: auto 100vh;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    font-size: 12px;
  }

  /* se a tela tiver pelo menos 400px vai carregar esses estilos*/
  @media (min-width: 400px) {
    body {
      font-size: 14px;
    }
  }

  /*breakpoints*/
  @media (min-width: 600px) {
    body {
      font-size: 18px;
    }
  }

  /*breakpoints*/
  @media (min-width: 1200px) {
    body {
      font-size: 20px;
    }
  }
  
header {
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .menu{
    background-color: pink;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
  }

  .menu a{
    display: block;
    padding: 10px 20px;
    transition: background-color 5s, color 2s;
  }

  .menu a:active,
  .menu a:hover {
    background-color: teal;
    color:pink ;
  }

  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  a{
    color: teal;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .titulo {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: 1s ease 2s animacaoTitulo forwards;
  }

  @keyframes animacaoTitulo {
    from {
      transform: scale(0.2) translateY(50vh);
      opacity: 0;
    }
    to {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }

  
  .site-title,
  .site-subtitle {
    color:#ff636c;
    text-align:center;
  }

  .site-title{
    font-size: 4em;
    font-family: 'Source Code Pro', monospace;
  }
  
  .site-subtitle {
    font-style: italic;
    line-height: 1.8;
  }

 .site-btitle {
   text-align: center;
   color:#ff636c;
 }

.portfolio {
   padding: 2em;
   color: #ff636c;
   min-height: 100vh;
 }

 .contato h2,
 .portfolio h2 {
  font-family: 'Source Code Pro', monospace;
  color: #ff636c;
  margin-bottom: 1.5em;
  font-size: 2em;
 }

 .portfolio .grid {
   display: grid;
   gap: 2em;
 }

 @media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
}

 .portfolio figure {
   text-align: center;
 }

 .img-portfolio {
    height: 180px;
    width: 240px;
    object-position: left bottom;
    transition: transform 500ms;
  }

  .img-portfolio:hover {
    transform: scale(1.2) rotateX(-2deg);
  }

  .contato .icons {
    text-align: center;
  }

  .contato a {
    color:  #ff636c;
    font-size: 4em;
    transition: text-shadow 1s;
  }

  .contato a:active,
  .contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(255,255,255,.5);
  }

  .countdown {
    color:  #ff636c;
    text-align: center;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


