*{
  margin: 0;
  padding: 0;
  box-sizing; border-box;
}

body {
    background-image: url('../img/fundoo.png');
    background-size: auto 100vh;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    font-size: 12;
  }

  /* se a tela tiver pelo menos 400px vai carregar esses estilos*/
  @media (min-width: 400px) {
    body {
      font-size: 14px;
    }
  }

  /*breakpoints*/
  @media (min-width: 600px) {
    body {
      font-size: 18px;
    }
  }

  /*breakpoints*/
  @media (min-width: 1200px) {
    body {
      font-size: 22px;
    }
  }
  
header {
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .menu{
    background-color: pink;
    position: fixed;
    width: 100vw;
    top: 0;
  }

  .menu a{
    display: block;
    padding: 10px 20px;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  a{
    color: teal;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-title,
  .site-subtitle {
    color: rgb(255, 2, 179);
    text-align:center;
  }

  .site-title{
    font-family: 'Source Code Pro', monospace;
  }
  
  .site-subtitle {
    font-style: italic;
    line-height: 2.5;
  }

 .site-btitle {
   text-align: center;
   color: rgb(230, 0, 96)
 }

.portfolio {
   padding: 2em;
   color: purple;
   margin-bottom: 1.5em;
   font-size: 2em;
   height: 100vh;
 }

 .portfolio h2 {
  font-family: 'Source Code Pro', monospace;
  color: purple;
 }

 .portfolio .grid {
   display: grid;
   gap: 2em;
 }

 @media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 200px 200px;
  }
 }

 @media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    height: calc(100vh - 4em - 48px - 1.5em);
  }
 }

 .portfolio figure {
   text-align: center;
 }

 .img-portfolio {
    height: 180px;
    width: 200px;
  }

 @media (min-width: 1200px) {
  .img-portfolio {
    height: 10em;
    width: auto;
  }
 }  

